---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <a class="badge" href="{{ site.baseurl }}/categories/{{ post.category }}">
        {{ post.category }}
      </a>

      <div class="date">
        Written on
        <time datetime="{{ post.date | date: '%Y-%m-%dT%T' }}">{{ post.date | date: "%B %e, %Y" }}</time>
        {% if post.author %}by {{ post.author }}{% endif %}
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        {% if post.interpro %}
          <a href="{{ post.interpro.url }}" class="read-more" style="float: right;">{{ post.interpro.text }}</a>
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
