---
layout: default
---
<h1>{{page.category}}</h1>

{% for post in site.categories[page.category] %}
  <article class="post">

    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="date">
      Written on
      <time datetime="{{ post.date | date: '%Y-%m-%dT%T' }}">{{ post.date | date: "%B %e, %Y" }}</time>
      {% if post.author %}by {{ post.author }}{% endif %}
    </div>

    <div class="entry">
      {{ post.excerpt }}
    </div>

    <div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% if post.emg %}
      <a href="{{ post.interpro.url }}" class="read-more" style="float: right;">
        {{ post.emg.text }}
      </a>
      {% endif %}
    </div>
  </article>
{% endfor %}
