---
layout: default
---

<article class="post">
  <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
  <a class="badge" href="{{ site.baseurl }}/categories/{{ page.category }}">
    {{ page.category }}
  </a>

  <div class="date">
    Written on
    <time datetime="{{ page.date | date: '%Y-%m-%dT%T' }}">{{ page.date | date: "%B %e, %Y" }}</time>
    {% if page.author %}by {{ page.author }}{% endif %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.interpro %}
  <p>
    <a href="{{ page.interpro.url }}">{{ page.interpro.text | escape }}</a>
  </p>
  {% else %}
  <!-- no link defined -->
  {% endif %}
</article>
